Source: syncthingui
Section: network
Priority: optional
Maintainer: jimmy <jimmy@jimmy-alpha>
Build-Depends: debhelper (>=9), python2 | python3, python-pyqt5 | python3-pyqt5
Standards-Version: 3.9.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/coolshou/syncthingui
#Vcs-Git: git://github.com/coolshou/syncthingui
#Vcs-Browser: https://github.com/coolshou/syncthingui

Package: syncthingui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends} , syncthing (>= 0.14)
Description: SyncthinGUI Python3 Qt5 GUI for Syncthing !
 SyncthinGUI Python3 Qt5 GUI for Syncthing
